<div class="header-area">
  <span class="header-text">MS Related</span>
</div>
<div class="ms-related-panel">
  <div class="related-add-today">
    <div class="related-add-today-label">
          Add<br/>Today
    </div>
  </div>
  <div class="related-panel">
    <div class="related-treatments">
      <div class="related-rotate-text">TREATMENTS</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li class="ns-dmt-theme">
          <md-checkbox [(ngModel)]="checkDMT" (change)='changed($event,"dmt")' [disabled]="!isDMTEnable" >DMT</md-checkbox>
          <!-- evalEvent [evalData]="{
            label:'DMT',
            data: checked,
            type: 'checkbox'
            }" -->
        </li>
        <li class="ns-othermeds-theme">
          <md-checkbox  (change)='changed($event,"otherMeds")' [disabled]="!isDMTEnable">Other Meds</md-checkbox>
        </li>
        <li class="ns-vitaminD-theme">
          <md-checkbox (change)='changed($event,"vitaminD")' [disabled]="!isDMTEnable">Vitamin D</md-checkbox>
        </li>
        <li class="ns-referrals-theme">
          <md-checkbox (change)='changed($event,"referrals")' [disabled]="true">Referrals</md-checkbox>
        </li>
      </ul>
    </div>
  </div>
  <div class="related-panel">
    <div class="related-outcomes">
      <div class="related-rotate-text">OUTCOMES</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li class="ns-edss-theme">
          <md-checkbox [checked]="true" [(ngModel)]="checkEDSS" (change)='changed($event,"edss")' [disabled]="!isEDSSEnable">EDSS</md-checkbox>
          <!-- evalEvent [evalData]="{
            label:'EDSS',
            data: checked,
            type: 'checkbox'
            }" -->
          <span class="plus-icon" [style.color]="getStyle()" (click)="openDialog('edss')">+</span></li>
        <li class="ns-25walk-theme">
          <md-checkbox [(ngModel)]="checkwalk25Feet" (change)='changed($event,"walk25Feet")' [disabled]="!isWalk25FeetEnable">25' Walk</md-checkbox><span class="plus-icon" [style.color]="getStyle()" (click)="openDialog('walk25Feet')">+</span>
        </li>
        <li class="ns-relapses-theme">
          <md-checkbox [(ngModel)]="checkRelapses"  (change)='changed($event,"relapses")' [disabled]="!isRelapsesEnable">Relapses</md-checkbox><span class="plus-icon" [style.color]="getStyle()" (click)="openDialog('relapses')">+</span></li>
        <li class="ns-images-theme">
          <md-checkbox  (change)='changed($event,"imaging")' [disabled]="!isImagingEnable">Imaging</md-checkbox>
        </li>
        <li class="ns-symptoms-theme">
          <md-checkbox (change)='changed($event,"symptoms")' [disabled]="!isSymptomsEnable">Symptoms</md-checkbox>
        </li>
      </ul>
    </div>
  </div>
  <div class="related-panel">
    <div class="related-monitoring">
      <div class="related-rotate-text">MONITORING</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li class="ns-labs-theme">
          <md-checkbox [checked]="true" (change)='changed($event,"labs")' [disabled]="!isLabEnable">Labs</md-checkbox>
          <!-- evalEvent [evalData]="{
            label:'Labs',
            data: checked,
            type: 'checkbox'
            }" -->
        </li>
        <li class="ns-vaccinations-theme" style="display:none;">
          <md-checkbox (change)='changed($event,"vaccinations")'>Vaccinations</md-checkbox>
        </li>
        <li class="ns-dme-theme">
          <md-checkbox (change)='changed($event,"dme")' [disabled]="true">DME</md-checkbox><span class="plus-icon" style="color:#b0b0b0;">+</span></li>
      </ul>
    </div>
  </div>
  <div class="related-panel">
    <div class="related-encounters">
      <div class="related-rotate-text">ENCOUNTERS</div>
    </div>
    <div class="related-items">
      <ul class="related-items-ul">
        <li class="ns-encounters-theme">
          <md-checkbox (change)='changed($event,"office")' [disabled]="true">Office</md-checkbox>
        </li>
        <li class="ns-encounters-theme">
          <md-checkbox (change)='changed($event,"mho")' [disabled]="true">MHO</md-checkbox>
        </li>
        <li class="ns-encounters-theme">
          <md-checkbox (change)='changed($event,"phone")' [disabled]="true">Phone</md-checkbox>
        </li>
      </ul>
    </div>
  </div>
</div>