<mat-card class="mainContainer">
  <div class="contents">
    <div>
      <h4> Welcome back to the neuroSHARE questionnaire.</h4>
    </div>
    <div>
      <p>
        <i>{{data.firstName}}</i>,</p>
      <div>
        Please complete the remaining questions before your next appointment on {{data.appDate}}. All of the information will be
        sent to me so I can review it before we meet.
        <ul>
          <li>Your answers are confidential and will only be shared with Sutter Health. </li>
          <li>You can stop and save your answers at any time. Return and finish it when you are ready. </li>
          <li>You can skip questions that you don’t wish to answer. The more questions you answer, the more likely I’ll be able
            to calculate your expanded disability status scale (EDSS) score.</li>
        </ul>
        At the end you can make a list of what you’d like to talk about at your next appointment.
        <p> Please email {{data.email}} if you have any questions about the questionnaire. Thank you in advance for your time.</p>
        <p>
          <i>{{data.clinicianName}}</i>
        </p>
      </div>
    </div>
  </div>
    <div class="btnContainer">
      <button mat-raised-button class="btn-right" color="primary" (click)="next()">
        <b>Next</b>
        <i class="fa fa-arrow-right" style="padding:  0px 0px 0px 5px" aria-hidden="true"></i>
      </button>
    </div>  
</mat-card>