.btn-center
{
    margin-left: 5px;
    font-size: 14pt;
}
.btn-right
{
    margin-left: 5px;
    font-size: 14pt;
}
.left
{
    padding:  0px 5px 0px 0px;
    font-size: 14pt;
}
.right{
    padding:  0px 0px 0px 5px;
    font-size: 14pt;
}
.mat-button{
    margin-left: 5px;
    font-size: 14pt;
}