@import "../common.scss";

.virtual-caseload-info .mat-dialog-container{
    padding: 0px;
}
.virtual-caseload-header{
    border-bottom: 1px solid #bfbfbf;
    padding: 7px 15px 5px 15px;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    color: #7e7e7e;
    font-size: 14pt;
}
.virtual-caseload-title{ float: left;}
.virtual-caseload-close{ float: right;}
.virtual-caseload-close i{ font-size: 10pt; cursor: pointer;}
.virtual-caseload-content{
    padding: 10px 15px 15px 15px;
    font-size: 10pt;
}
.virtual-caseload-info:after{
    clear: both;
    content: '';
    display: block;
}

.graph-zoom{
    .mat-menu-content {
        padding-top: 0px;
        padding-bottom: 0px;
        border: solid 1px #AAAAAA;
    }
    .zoom-panel{
        border-bottom: solid 1px #AAAAAA; padding:5px 10px; font-size: 10pt; 
        .zoom-title{
            font-weight: bold;
            float: left;
            color: #7e7e7e;
        }
        .zoom-close{
            cursor: pointer;
            text-align: right;
            float:right;
        }
    }
    .zoom-panel:after{
            clear: both;
            content: '';
            display: block;
    }
    .mat-menu-item{
        background-color: #d8d8d8;
        text-align:center;;
        line-height: 25px;
        height:25px;
        font-weight:bold;
        font-size: 10pt;
        width: 65px;
        margin:10px auto;
    }
}
.ns-row{ display:flex; width: 200px; margin-bottom: 2px;}
.icon-legend{ width: 30px; margin-right: 20px; height: 30px; }
.lebal-legend{ font-size: 10pt; line-height: 30px;}
.graph-symbols{
    .mat-menu-content{padding: 0px; border: solid 1px #AAAAAA;}
    .graph-symbols-header{display: flex; padding: 2px 10px; color: #7e7e7e; border-bottom: solid 1px #AAAAAA;}
    .graph-symbols-title{text-align: left; font-weight: bold; font-size: 10pt;}
    .graph-symbols-close{margin-left: auto; cursor: pointer;}
    .graph-symbols-close i{font-size: 10pt;}
    .ns-legend{padding: 10px;}
}
.loader{
    position: absolute;
    float: right;
    top: 250px;
    width: 500px;
    left: 300px;
}
.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}