<mat-card class="mainContainer">
  <div class="contents">
    <div>
      You have requested to unsubscribe from the neuroSHARE email list.
    </div>
    <div>
      If at a later date you wish for our staff to contact you again via email, please feel free to email neuroSHARE@sutterhealth.org
      to update your communication preferences.</div>
  </div>
  <div class="btnContainer">
    <button mat-raised-button color="primary" class="btn-left" (click) = "deny()">
      <b>Do Not Unsubscribe</b>
    </button>
    <button mat-raised-button color="primary" class="btn-right" (click) = "unsubscribe()">
      <b>Unsubscribe</b>
    </button>
  </div>
</mat-card>