//EDSS color palette
$ns-edss-base-color: (
    50 : #fceee2,
    100 : #f9d4b6,
    200 : #f5b886,
    300 : #f09b56,
    400 : #ed8531,
    500 : #ea700d,
    600 : #e7680b,
    700 : #e45d09,
    800 : #e15307,
    900 : #db4103,
    A100 : #ffffff,
    A200 : #ffdacf,
    A400 : #ffb39c,
    A700 : #ff9f83,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//25’ Walk color palette
$ns-walk-base-color: (
    50 : #e6f0f3,
    100 : #c1dae1,
    200 : #98c2cd,
    300 : #6faab9,
    400 : #5097aa,
    500 : #31859b,
    600 : #2c7d93,
    700 : #257289,
    800 : #1f687f,
    900 : #13556d,
    A100 : #a4e4ff,
    A200 : #71d5ff,
    A400 : #3ec6ff,
    A700 : #25bfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Relapses color palette
$ns-relapses-base-color: (
    50 : #fce7e7,
    100 : #f7c4c2,
    200 : #f29c9a,
    300 : #ed7472,
    400 : #e95753,
    500 : #e53935,
    600 : #e23330,
    700 : #de2c28,
    800 : #da2422,
    900 : #d31716,
    A100 : #ffffff,
    A200 : #ffd1d1,
    A400 : #ff9f9e,
    A700 : #ff8585,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Images color palette
$ns-images-base-color:(
    50 : #f7f2fa,
    100 : #ecdef2,
    200 : #dfc8ea,
    300 : #d2b1e1,
    400 : #c8a1da,
    500 : #be90d4,
    600 : #b888cf,
    700 : #af7dc9,
    800 : #a773c3,
    900 : #9961b9,
    A100 : #ffffff,
    A200 : #fbf4ff,
    A400 : #e8c1ff,
    A700 : #dfa7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Referrals color palette
$ns-referrals-base-color:(
    50 : #eff6e8,
    100 : #d8e8c6,
    200 : #bed9a1,
    300 : #a3ca7b,
    400 : #90be5e,
    500 : #7cb342,
    600 : #74ac3c,
    700 : #69a333,
    800 : #5f9a2b,
    900 : #4c8b1d,
    A100 : #dcffc5,
    A200 : #bdff92,
    A400 : #9fff5f,
    A700 : #8fff46,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//vaccinations color palette
$ns-vaccinations-base-color: (
    50 : #e3effa,
    100 : #bad6f2,
    200 : #8cbbe9,
    300 : #5e9fe0,
    400 : #3c8bd9,
    500 : #1976d2,
    600 : #166ecd,
    700 : #1263c7,
    800 : #0e59c1,
    900 : #0846b6,
    A100 : #e0eaff,
    A200 : #adc6ff,
    A400 : #7aa3ff,
    A700 : #6191ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Labs color palette
$ns-labs-base-color: (
    50 : #e0f5f4,
    100 : #b3e6e4,
    200 : #80d5d2,
    300 : #4dc4c0,
    400 : #26b7b3,
    500 : #00aaa5,
    600 : #00a39d,
    700 : #009993,
    800 : #00908a,
    900 : #007f79,
    A100 : #adfffa,
    A200 : #7afff7,
    A400 : #47fff4,
    A700 : #2dfff2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Symptoms color palette
$ns-symptoms-base-color: (
    50 : #fceee2,
    100 : #f9d4b6,
    200 : #f5b886,
    300 : #f09b56,
    400 : #ed8531,
    500 : #ea700d,
    600 : #e7680b,
    700 : #e45d09,
    800 : #e15307,
    900 : #db4103,
    A100 : #ffffff,
    A200 : #ffdacf,
    A400 : #ffb39c,
    A700 : #ff9f83,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//DME color palette
$ns-dme-base-color: (
    50 : #f0efe3,
    100 : #dad6b9,
    200 : #c1bb8b,
    300 : #a8a05d,
    400 : #958b3a,
    500 : #827717,
    600 : #7a6f14,
    700 : #6f6411,
    800 : #655a0d,
    900 : #524707,
    A100 : #ffea86,
    A200 : #ffe153,
    A400 : #ffd920,
    A700 : #ffd407,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//DMT Other Meds color palette
$ns-dmt-base-color: (
    50 : #eceff1,
    100 : #cfd8dc,
    200 : #b0bec5,
    300 : #90a4ae,
    400 : #78919c,
    500 : #607d8b,
    600 : #587583,
    700 : #4e6a78,
    800 : #44606e,
    900 : #334d5b,
    A100 : #abe1ff,
    A200 : #78ceff,
    A400 : #45bcff,
    A700 : #2bb3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//DMT Other Meds color palette
$ns-othermeds-base-color: (
    50 : #f5f7f8,
    100 : #e7ecee,
    200 : #d7dfe2,
    300 : #c7d2d6,
    400 : #bbc8ce,
    500 : #afbec5,
    600 : #a8b8bf,
    700 : #9fafb8,
    800 : #96a7b0,
    900 : #8699a3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ceeeff,
    A700 : #b4e5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Vitamin D color palette
$ns-vitaminD-base-color: (
    50 : #fff7e6,
    100 : #feecc0,
    200 : #fde096,
    300 : #fcd36c,
    400 : #fcc94d,
    500 : #fbc02d,
    600 : #faba28,
    700 : #fab222,
    800 : #f9aa1c,
    900 : #f89c11,
    A100 : #ffffff,
    A200 : #fff9f1,
    A400 : #ffe3be,
    A700 : #ffd8a5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Encounters color palette
$ns-encounters-base-color: (
    50 : #f7e7e2,
    100 : #ecc3b6,
    200 : #df9b86,
    300 : #d27255,
    400 : #c95430,
    500 : #bf360c,
    600 : #b9300a,
    700 : #b12908,
    800 : #a92206,
    900 : #9b1603,
    A100 : #ffcac6,
    A200 : #ff9b93,
    A400 : #ff6c60,
    A700 : #ff5547,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/*Default color palette */
$ns-default: (
    50 : #f4f4f4,
    100 : #e4e4e4,
    200 : #d2d2d2,
    300 : #c0c0c0,
    400 : #b3b3b3,
    500 : #a5a5a5,
    600 : #9d9d9d,
    700 : #939393,
    800 : #8a8a8a,
    900 : #797979,
    A100 : #ffffff,
    A200 : #fad3d3,
    A400 : #ff9b9b,
    A700 : #ff8181,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

