<mat-card class="mainContainer">
  <div class="contents">
    <!-- <div align="center">
      <h2>Thank You Page</h2>
    </div> -->
    <p>
      Thank you for completing the neuroSHARE questionnaire! Your responses have been sent to your doctor. </p>
    <p>
      Click the “close” button to log out and exit the questionnaire.
    </p>
  </div>
  <div class="btnContainer">
    <button mat-raised-button class="btn-right" color="primary" (click) = "close()">
      <b>Close</b>
    </button>
  </div>
</mat-card>