<ng-template #symptomSecondLevelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Symptoms</h4>
    <button type="button" class="close" aria-symptomel="Close" (click)="dialogRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="symptoms-container">

      <div class="ns-symtoms-head-panel">
        <div class="ns-symtoms-item">
          <div class="ns-symtoms-header">Questionnaire Status</div>
          <div class="ns-symtoms-value">{{symptomsData.status}}</div>
        </div>
        <div class="ns-symtoms-item">
          <div class="ns-symtoms-header">Last Questionnaire Date</div>
          <div class="ns-symtoms-value">{{symptomsData.questionnaireDate }} </div>
        </div>
      </div>

      <div class="ns-symptoms-header">
        <div class="ns-symptoms-reported">Patient Reported
          <br/> Symptoms</div>
        <div class="ns-symptoms-status">Status</div>
        <div class="ns-symptoms-trend">Trend</div>
        <div class="ns-symptoms-quest">Questionnaire</div>
      </div>


      <div class="ns-symptoms-items-container">
        <div class="ns-symptoms-row" *ngFor="let symp of symptomsData.symptoms;">
          <div class="ns-small-bar"></div>
          <div class="ns-order-symptoms-box">
            <span class="ns-symptoms-name">{{symp.name}}</span>
            <div class="ns-symtoms-date-box">
              <span class="ns-symptoms-reportDate">
                Reported {{symp.reportDate }}
              </span>
              <span class="ns-symptoms-previous" *ngIf="symp.symptomStatus=='Previous'">
                {{symp.symptomStatus}}
              </span>
              <span class="ns-symptoms-new" *ngIf="symp.symptomStatus=='New'">
                {{symp.symptomStatus}}
              </span>
            </div>

          </div>
          <div class="ns-small-box-text">{{symp.score}}</div>
          <div class="ns-symptoms-trend-box" id="TrendLine_{{symp.qxid}}_{{symp.trendScore}}_{{symp.nameTrend}}"></div>

          <div class="ns-symptoms-quest-unit" *ngIf="symp.qx_code.length>0">
            <button class="call-out-buttons" (click)="showThirdLayer(symp)">See Qx</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #symptomsThirdLevelTemplate>
  <div class="modal-header draggable" (mousedown)="registerDrag($event)">
    <h4 class="modal-title">{{symptomsDataDetails.name}} - {{symptomsDataDetails.score}}</h4>
    <button type="button" class="close" aria-symptomel="Close" (click)="questDialogRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="symptoms-container-qx">
      <div>
        <div class="ns-symptoms-qx" *ngFor="let sympDetails of symptomsDataDetails.questData[0];">

          <span class="ns-symptoms-name-quest">{{sympDetails["qx_global_text"]}} {{sympDetails["qx_text"]}}</span>

          <div *ngFor="let sympAns of sympDetails['answer_options'];">
            <span class="ns-symptoms-name-det" *ngIf="sympAns!=sympDetails['answer_text']">{{sympAns}}</span>
            <span class="ns-symptoms-name-red" *ngIf="sympAns==sympDetails['answer_text']">{{sympAns}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>