.mainContainer {
    font-size: 14pt;    
    width: 90%;
    margin: 0px auto;
    min-height: 440px;
    .contents
    {
        min-height:420px;
        margin-bottom: 10px;
    }
}
mat-card-content
{
    font-size: 14pt !important;
}
.divThankyou{
    padding-top: 15px;
}

